.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  left: -7rem;
}

.owl-next {
  right: -7rem;
}

@media screen and (max-width: 1225px) {
  .owl-nav {
    display: none;
  }
}
