body,
menu,
a,
figure,
h1,
h2,
h3,
h4,
p,
ul,
form {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #02160b;
  font-family: "Open Sans", sans-serif;
  color: #f7f7f7;
  font-size: 23px;
  width: 100%;
}

.wrapper {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.foxContainer {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(../assets/fox.jpg);
  background-color: #02160b;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
}

.mainHeader {
  display: flex;
  padding-top: 20px;
}

.mainHeader nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.mainHeader ul {
  display: flex;
  align-items: center;
}

.mainHeader nav .navLink {
  margin-right: 60px;
}

.link:hover {
  color: #cd6326;
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.logo img {
  margin-right: 20px;
}

.logo h1,
.logo > div {
  font-size: 32px;
  color: #f7f7f7;
  padding: 0;
}

.search {
  display: flex;
  border: 0;
  max-width: 52px;
  margin-right: 55px;
  padding: 0px 15px;
}

.search:hover {
  cursor: pointer;
}

.btn {
  border: 2px solid #cd6326;
  border-radius: 5px;
  color: #f7f7f7;
  align-items: center;
  font-size: inherit;
}

.btn:hover {
  cursor: pointer;
}

.primary {
  margin-top: 50px;
  background-color: #cd6326;
  padding: 15px 40px;
}

.primary:hover {
  background: #e39128;
  outline: none;
  border-color: #e39128;
}

.primary:active {
  background-color: #8f5613;
  outline: none;
  border-color: #8f5613;
}

.secondary {
  padding: 9px 22px;
  background-color: transparent;
}

.secondary:hover {
  background-color: #cd6326;
  outline: none;
  border-color: #cd6326;
}

.secondary:active {
  background-color: #8f5613;
  outline: none;
  border-color: #8f5613;
}

.survivalSection {
  margin-bottom: 145px;
}

.survivalSection h2 {
  color: #cd6326;
  font-size: 48px;
  padding-top: 120px;
  letter-spacing: 2px;
}

.survivalSection p {
  max-width: 272px;
  text-align: justify;
  font-size: 18px;
  padding-top: 55px;
  line-height: 27px;
}

main {
  background-color: #cccccc;
}

.latestArticles {
  padding-top: 125px;
  text-align: center;
}

.latestArticles h2 {
  color: #333333;
  font-size: 48px;
  margin-bottom: 25px;
}

.latestArticles .subHeading {
  color: #666666;
  font-size: 24px;
  margin-bottom: 120px;
}

.containerCards {
  display: flex;
  justify-items: center;
  align-items: center;
  padding-bottom: 237px;
  margin: 0 auto;
  max-width: 1150px;
  position: relative;
}

.containerCards a img {
  width: 30px;
  height: 30px;
}

.card {
  position: relative;
  margin: 0 30px;
}

.containerCards div:nth-child(2) {
  margin-left: auto;
}

.containerCards .card:last-child {
  margin-right: auto;
}

main h2 {
  text-align: center;
  color: #333333;
  font-size: 27px;
  word-spacing: 3px;
}

.mainSearch {
  display: flex;
  justify-content: center;
  margin: 60px auto 0 auto;
  padding-bottom: 240px;
}

.mainSearch .searchInput {
  min-width: 540px;
  border: 1px solid #666666;
  border-right: none;
  color: #cecece;
  padding-left: 15px;
  background-color: transparent;
  font-size: inherit;
}

.mainSearch input[type="submit"] {
  border-left: none;
  border-radius: none;
  width: 120px;
  padding: 16px 0px;
  border: 1px solid #cd6326;
  display: flex;
  justify-content: center;
  color: #f7f7f7;
  font-size: inherit;
  background-color: #cd6326;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.mainSearch input[type="submit"]:hover {
  background-color: #e39128;
  cursor: pointer;
}

.imgTitle {
  position: absolute;
  top: 70%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #f7f7f7;
}

.imgTitle p {
  color: #f7f7f7;
  font-size: 17px;
}

.imgTitle h4 {
  margin-bottom: 15px;
  font-size: 22px;
  letter-spacing: 2px;
}

.btnSlider {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btnSlider button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-size: 0;
  width: 26px;
  height: 39px;
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.btnSlider button:first-child::before,
.btnSlider button:last-child::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btnSlider button:first-child::before {
  content: url(../assets/arrow.png);
}

.btnSlider button:last-child::before {
  content: url(../assets/arrow.png);
  transform: rotate(180deg);
}

footer {
  background-color: #181617;
}

footer figcaption {
  color: #f7f7f7;
  font-size: 32px;
}

.bg-footer-image {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url("../assets/list.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logoFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 20px;
}

.footerMenuContainer {
  display: flex;
  max-width: 480px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

footer .social:not(:last-child) {
  margin-right: 27px;
}

.footerSocialContainer li a {
  background-repeat: no-repeat;
  display: block;
  min-width: 40px;
  min-height: 40px;
  max-width: 60px;
  max-height: 60px;
}

.footerSocialContainer li:first-child a {
  background-image: url("../assets/fb.svg");
}

.footerSocialContainer li:nth-child(2) a {
  background-image: url("../assets/inst.svg");
}

.footerSocialContainer li:nth-child(3) a {
  background-image: url("../assets/p.svg");
}

.footerSocialContainer li:last-child a {
  background-image: url("../assets/tg.svg");
}

.footerSocialContainer {
  display: flex;
  margin-left: 25px;
}

@media screen and (max-width: 1150px) {
  .latestArticles, 
  .latestArticles .subHeading {
    padding-top: 50px;
  }

  .containerCards,
  .mainSearch {
    padding-bottom: 50px;
  }

  .logoFooter {
    padding: 50px 20px;
  }

  .footerSocialContainer {
    margin-left: 0;
  }
}

@media screen and (max-width: 1110px) {
  .hiddenCard {
    display: none;
  }

  .containerCards div:nth-child(2) {
    margin: 0;
    margin-left: 0;
  }

  .containerCards {
    justify-content: center;
  }

  .card:last-child {
    margin: 0 0 0 30px;
  }
}

@media screen and (max-width: 1050px) {
  .logoFooter {
    flex-direction: column;
  }

  footer .footerMenu:last-child {
    margin-right: 0;
  }

  .footerMenuContainer {
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .logo {
    margin-right: 0;
  }
}

@media screen and (max-width: 950px) {
  .hiddenCardSquirrel {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .mainSearch input[type="submit"] {
    width: 70px;
  }
  
  .mainSearch .searchInput {
    min-width: 350px;
  }
}

@media screen and (max-width: 750px) {
  .mainHeader {
    flex-direction: column;
    align-items: center;
  }

  .mainHeader nav {
    margin: 10px auto;
  }

  .mainHeader menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  h1 {
    margin: 0 auto;
    text-align: center;
  }

  .survivalSection {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 650px) {
  .imgTitle h4 {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 575px) {
  .mainSearch input[type="submit"] {
    width: 60px;
  }

  .mainSearch .searchInput {
    min-width: 250px;
  }
}

@media screen and (max-width: 550px) {
  .mainHeader ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .search {
    margin-right: 0px;
  }

  .foxContainer nav li {
    list-style: none;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 500px) {
  .footerMenuContainer {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 470px) {
  .mainHeader menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: normal;
  }

  h1 {
    font-size: 35px;
    padding-top: 100px;
  }

  header p {
    font-size: 14px;
    margin: 0 auto;
  }

  .primary {
    margin-top: 30px;
  }

  .headerText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header {
    padding-bottom: 30px;
  }

  .mainCenter {
    padding-top: 30px;
  }

  .mainCenter h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .mainCenter p {
    margin-bottom: 30px;
  }

  .mainSlider {
    margin: 0 auto 30px auto;
  }

  .mainSearch {
    margin: 30px auto 0 auto;
  }

  main {
    min-height: 0;
  }

  .mainSearch {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 450px) {
  .footerMenuContainer {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footerMenuContainer {
    align-items: center;
  }

  .logo picture {
    margin-right: 0;
  }

  .footerMenuContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 435px) {
  .card img {
    width: 70%;
    height: auto;
  }
}

@media screen and (max-width: 330px) {
  .social-container {
    display: none;
  }

  .logo figcaption {
    font-size: 25px;
  }

  .logo picture {
    display: none;
  }

  .mainSearch .searchInput {
    min-width: 150px;
  }
}
